<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Details Page</title>
    <%- include head %>
  </head>
  <body>
    <%- include('bar', {username: username}) %>

    <div class="detail">
      <div class="title"><%=item.title%></div>
      <div class="content"><%=item.content%></div>
      <div class="desc">
        <span>User: <%=item.username%></span>
        <span>Create time: <%=item.time%></span>
      </div>
    </div>
  </body>
</html>
